<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="user-scalable=0, initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width, height=device-height">
  <meta name="theme-color" content="#FFFFFF"/>
  <link rel="manifest" href="<%=htmlWebpackPlugin.options.url_context%>/static/manifest.json"/>
  <link rel="shortcut icon" href="<%=htmlWebpackPlugin.options.url_context%>/static/favicon.ico"/>
  <%=htmlWebpackPlugin.options.helmet_title%>
  <%=htmlWebpackPlugin.options.helmet_meta%>
  <%=htmlWebpackPlugin.options.helmet_link%>
  <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style"/>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <%=htmlWebpackPlugin.options.jss_styles%>
  <%=htmlWebpackPlugin.options.loadable_preload%>
</head>
<body>
  <div id="root"><%=htmlWebpackPlugin.options.content%></div>
  <%=htmlWebpackPlugin.options.initial_state%>
</body>
<%=htmlWebpackPlugin.options.loadable_bundles%>
</html>
